
.controlPanel {
    border: 2px solid purple;
    display: flex;
    padding: 10vh;
}

.key {
  border: 2px solid black;
  margin: auto;
  padding: 10px;
  width: 10vw;
}

.keyboard {
  border: 2px solid green;
  display: flex;
  padding: 10vh;
}

.outerCasing {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 10vh;
}