body {
  box-sizing:border-box;
  width: 100%;
}

/*--------------------------------------------------------------------------------------------------- 
*
*                                         OUTER CASING SECTION
*
*----------------------------------------------------------------------------------------------------*/

.outerCasing {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 2.5vh;
  min-width: 100%;
}

/*--------------------------------------------------------------------------------------------------- 
*
*                                         CONTROL PANEL SECTION
*
*----------------------------------------------------------------------------------------------------*/

.controlPanel {
    border: 2px solid purple;
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
}

/********************************* Button Section ************************************/
.btn-toggle {
  align-self: center;
  border: 2px solid orange;
  height: 5vh;
  text-align: center;
  vertical-align: middle;
  width: 5vw;
}

.btn-toggle:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.vertical-middle {
  vertical-align: middle;
}

/**************************** Enveloper Slider Section *******************************/

/* Slider bank to hold all the sliders */
.slider-bank {
  border: 2px solid palevioletred;
  display: flex;
  height: auto;
}

.envelopeSlider {
  /* align-self: flex-end; */
  border: 2px solid gold;
  display: flex;
  /* height: auto; */
  flex-direction: column;
  justify-content: flex-end;
}

.slider-container {
  width: 100%;
}

/* Actual slider */
.html-slider {
  -webkit-transform:rotate(270deg); 
  -moz-transform:rotate(270deg); 
  -o-transform:rotate(270deg); 
  -ms-transform:rotate(270deg); 
  transform:rotate(270deg);
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10vw;
  height: 0.75vh; /* Specified height */
  background: #8f8e8e; /* Grey background */
  outline: none; /* Remove outline */
}

/* Thumb slider styling for Chrome, Opera, Safari & Edge */
.html-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0.5vw; /* Set a specific slider handle width */
  height: 2.25vh; /* Slider handle height */
  background: #c300ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.html-slider:hover::-webkit-slider-thumb {
  background: #fbff00;
}

.html-slider:active::-webkit-slider-thumb {
  background: #02e40e;
}

/* Thumb slider styling for Firefox */
.html-slider::-moz-range-thumb {
  width: 0.5vw; /* Set a specific slider handle width */
  height: 2.25vh; /* Slider handle height */
  background: #c300ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.html-slider:hover::-webkit-slider-thumb {
  background: #fbff00;
}

.html-slider:active::-moz-range-thumb {
  background: #02e40e;
}

/*--------------------------------------------------------------------------------------------------- 
*
*                                         KEYBOARD SECTION
*
*----------------------------------------------------------------------------------------------------*/

.keyboard {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1vh;
}

.key {
  border: 2px solid black;
  width: 10vw;
}

.key:hover {
  background-color: lightcoral;
  cursor: pointer;
}

/* Changes color for keyboard letter press */
.keyboard-click {
  background-color: lightskyblue;
}

/********************************* Black Keys ************************************/
.black-keys {
  border: 2px solid yellowgreen;
  display: flex;
  height: 100vh;
  width: 100%;
}

.key-black {
  margin: 0.5vw;
}

.m-left {
  margin-left: 6vw;
}

.m-left-3 {
  margin-left: 11vw;
}

/********************************* White Keys ************************************/
.white-keys {
  border: 2px solid paleturquoise;
  display: flex;
  height: 100vh;
  width: 100%;
}

.key-white {
  margin: 0.5vw;
}