body {
  background-color: #40522D;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/*--------------------------------------------------------------------------------------------------- 
*
*                                         KEYBOARD SECTION
*
*----------------------------------------------------------------------------------------------------*/

.key {
  border: 2px solid #40522D;
  margin: 0.5vw;
  width: 10vw;
}

.key:hover {
  background-color: #00BFA5;
  cursor: pointer;
}

/* Changes color for keyboard letter press */

.keyboard-click {
  background-color: rgb(135, 250, 160) !important;
}

.key-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.letter-name {
  color: #40522D;
  display: flex;
  font-size: 5vw;
  justify-content: center;
  width: 100%;
}

/*--------------------------------------------------------------------------------------------------- 
******************************************************************************************************
******************************************** MEDIA QUERIES *******************************************
******************************************************************************************************
*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .html-slider {
    height: 4.5vw;
  }
  /* Responsive thumb slider styling for Chrome, Opera, Safari & Edge */
  .html-slider::-webkit-slider-thumb {
    border-left: 1.25vw solid #047000;
    border-right: 1.25vw solid #047000;
    width: 3vw;
    /* Set a specific slider handle width */
    height: 4.5vw;
    /* Slider handle height */
  }
  /* Responsive thumb slider styling for Firefox */
  .html-slider::-moz-range-thumb {
    width: 0.5vw;
    /* Set a specific slider handle width */
    height: 1.75vw;
    /* Slider handle height */
  }
  .letter-name {
    color: transparent;
  }
}